In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [11]:
df=pd.read_csv("D:\Data_sets\Encoding.csv")

In [12]:
df

   Rec_No Temperature   Color  Target
0       1         Hot     Red       1
1       2        Cold  Yellow       1
2       3    Very Hot    Blue       1
3       4        Warm    Blue       0
4       5         Hot     Red       1
5       6        Warm  Yellow       0
6       7        Warm     Red       1
7       8         Hot  Yellow       0
8       9         Hot  Yellow       1
9      10        Cold  Yellow       1

### Using pandas get_dummies()

In [21]:
df1=pd.get_dummies(df['Color'])

In [22]:
df1

   Blue  Red  Yellow
0     0    1       0
1     0    0       1
2     1    0       0
3     1    0       0
4     0    1       0
5     0    0       1
6     0    1       0
7     0    0       1
8     0    0       1
9     0    0       1

In [23]:
df2=pd.get_dummies(df['Color'], drop_first=True)

In [24]:
df2

   Red  Yellow
0    1       0
1    0       1
2    0       0
3    0       0
4    1       0
5    0       1
6    1       0
7    0       1
8    0       1
9    0       1

### Using One-Hot Encoding Scikit-learn

In [17]:
from sklearn.preprocessing import OneHotEncoder

In [36]:
ohe=OneHotEncoder(df,drop='first')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass categories=   Rec_No Temperature   Color  Target
0       1         Hot     Red       1
1       2        Cold  Yellow       1
2       3    Very Hot    Blue       1
3       4        Warm    Blue       0
4       5         Hot     Red       1
5       6        Warm  Yellow       0
6       7        Warm     Red       1
7       8         Hot  Yellow       0
8       9         Hot  Yellow       1
9      10        Cold  Yellow       1 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [37]:
df

   Rec_No Temperature   Color  Target
0       1         Hot     Red       1
1       2        Cold  Yellow       1
2       3    Very Hot    Blue       1
3       4        Warm    Blue       0
4       5         Hot     Red       1
5       6        Warm  Yellow       0
6       7        Warm     Red       1
7       8         Hot  Yellow       0
8       9         Hot  Yellow       1
9      10        Cold  Yellow       1

In [39]:
ohe.fit_transform(df.Color.values.reshape(-1,1)).toarray()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Label Encoding

In [40]:
from sklearn.preprocessing import LabelEncoder

In [41]:
le=LabelEncoder()

In [44]:
df3=df

In [47]:
df3['Color_encded']=le.fit_transform(df3.Color)

In [48]:
df3

   Rec_No Temperature  Color  Target  Color_encded
0       1         Hot      1       1             1
1       2        Cold      2       1             2
2       3    Very Hot      0       1             0
3       4        Warm      0       0             0
4       5         Hot      1       1             1
5       6        Warm      2       0             2
6       7        Warm      1       1             1
7       8         Hot      2       0             2
8       9         Hot      2       1             2
9      10        Cold      2       1             2

### Ordinal Encoding

In [49]:
temp_dict={'Cold':1, 'Warm':2, 'Hot':3, 'Very Hot':4}

In [50]:
df3['Temp_ordinal']=df.Temperature.map(temp_dict)

In [51]:
df3

   Rec_No Temperature  Color  Target  Color_encded  Temp_ordinal
0       1         Hot      1       1             1             3
1       2        Cold      2       1             2             1
2       3    Very Hot      0       1             0             4
3       4        Warm      0       0             0             2
4       5         Hot      1       1             1             3
5       6        Warm      2       0             2             2
6       7        Warm      1       1             1             2
7       8         Hot      2       0             2             3
8       9         Hot      2       1             2             3
9      10        Cold      2       1             2             1

### One-hot encoding with many categorical variable

In [56]:
df4=pd.read_csv("D:\Data_sets\mercedes.csv", usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])

In [57]:
df4

     X1  X2 X3 X4  X5 X6
0     v  at  a  d   u  j
1     t  av  e  d   y  l
2     w   n  c  d   x  j
3     t   n  f  d   x  l
4     v   n  f  d   h  d
...  ..  .. .. ..  .. ..
4204  s  as  c  d  aa  d
4205  o   t  d  d  aa  h
4206  v   r  a  d  aa  g
4207  r   e  f  d  aa  l
4208  r  ae  c  d  aa  g

[4209 rows x 6 columns]

In [61]:
df4.X1.unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [59]:
for i in df4.columns:
    print(i, len(df4[i].unique()))

X1 27
X2 44
X3 7
X4 4
X5 29
X6 12

In [62]:
pd.get_dummies(df4,drop_first=True).shape

(4209, 117)

In [64]:
df4.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [66]:
top_10=df4.X2.value_counts().sort_values(ascending=False).head(10).index

In [69]:
top_10=list(top_10)
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [70]:
for label in top_10:
    df4[label]= np.where(df4['X2']==label,1,0)

In [72]:
df4.head(40)

    X1  X2 X3 X4 X5 X6  as  ae  ai  m  ak  r  n  s  f  e
0    v  at  a  d  u  j   0   0   0  0   0  0  0  0  0  0
1    t  av  e  d  y  l   0   0   0  0   0  0  0  0  0  0
2    w   n  c  d  x  j   0   0   0  0   0  0  1  0  0  0
3    t   n  f  d  x  l   0   0   0  0   0  0  1  0  0  0
4    v   n  f  d  h  d   0   0   0  0   0  0  1  0  0  0
5    b   e  c  d  g  h   0   0   0  0   0  0  0  0  0  1
6    r   e  f  d  f  h   0   0   0  0   0  0  0  0  0  1
7    l  as  f  d  f  j   1   0   0  0   0  0  0  0  0  0
8    s  as  e  d  f  i   1   0   0  0   0  0  0  0  0  0
9    b  aq  c  d  f  a   0   0   0  0   0  0  0  0  0  0
10   r   r  f  d  f  h   0   0   0  0   0  1  0  0  0  0
11   r   e  f  d  f  h   0   0   0  0   0  0  0  0  0  1
12   b  ai  c  d  f  g   0   0   1  0   0  0  0  0  0  0
13   r   e  f  d  j  h   0   0   0  0   0  0  0  0  0  1
14   s  as  e  d  j  g   1   0   0  0   0  0  0  0  0  0
15   l  ak  f  d  j  d   0   0   0  0   1  0  0  0  0  0
16   r   e  f  d  j  h   0   0   0  0   0  0  0  0  0  1
17  aa  as  c  d  j  c   1   0   0  0   0  0  0  0  0  0
18   c   m  c  d  j  d   0   0   0  1   0  0  0  0  0  0
19   a  ak  f  d  j  i   0   0   0  0   1  0  0  0  0  0
20   s   m  c  d  j  j   0   0   0  1   0  0  0  0  0  0
21  aa  as  d  d  j  j   1   0   0  0   0  0  0  0  0  0
22   r   a  b  d  j  j   0   0   0  0   0  0  0  0  0  0
23   b   m  c  d  j  j   0   0   0  1   0  0  0  0  0  0
24   r  ak  d  d  j  d   0   0   0  0   1  0  0  0  0  0
25   s   m  c  d  j  i   0   0   0  1   0  0  0  0  0  0
26   l  as  f  d  j  g   1   0   0  0   0  0  0  0  0  0
27  aa  as  c  d  j  d   1   0   0  0   0  0  0  0  0  0
28   s  as  c  d  j  c   1   0   0  0   0  0  0  0  0  0
29   b   m  c  d  j  j   0   0   0  1   0  0  0  0  0  0
30   v  as  f  d  j  g   1   0   0  0   0  0  0  0  0  0
31   e  as  c  d  j  l   1   0   0  0   0  0  0  0  0  0
32   b   m  c  d  j  j   0   0   0  1   0  0  0  0  0  0
33   s  as  d  d  j  a   1   0   0  0   0  0  0  0  0  0
34   s  as  c  d  j  j   1   0   0  0   0  0  0  0  0  0
35   b  ai  c  d  j  j   0   0   1  0   0  0  0  0  0  0
36   l  as  f  d  j  g   1   0   0  0   0  0  0  0  0  0
37   v   k  d  d  j  j   0   0   0  0   0  0  0  0  0  0
38   v  as  f  d  j  g   1   0   0  0   0  0  0  0  0  0
39   s  as  c  d  j  j   1   0   0  0   0  0  0  0  0  0