In [48]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from numpy import random
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [12]:
from sklearn.datasets import load_boston

In [13]:
df=load_boston()

In [14]:
df1=pd.DataFrame(df.data)

In [15]:
df1.columns=df.feature_names

In [16]:
df1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [17]:
df1['Price']=df.target

In [20]:
df1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [18]:
X=df1.drop('Price', axis=1)

In [19]:
y=df1.Price

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [23]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
50,0.08873,21.0,5.64,0.0,0.439,5.963,45.7,6.8147,4.0,243.0,16.8,395.56,13.45
367,13.52220,0.0,18.10,0.0,0.631,3.863,100.0,1.5106,24.0,666.0,20.2,131.42,13.33
34,1.61282,0.0,8.14,0.0,0.538,6.096,96.9,3.7598,4.0,307.0,21.0,248.31,20.34
78,0.05646,0.0,12.83,0.0,0.437,6.232,53.7,5.0141,5.0,398.0,18.7,386.40,12.34
172,0.13914,0.0,4.05,0.0,0.510,5.572,88.5,2.5961,5.0,296.0,16.6,396.90,14.69

### Standardization
scaling technique where the values are centered around the mean with a unit standard deviation. This means that the mean of the attribute becomes zero and the resultant distribution has a unit standard deviation.

In [24]:
sc=StandardScaler()

In [25]:
sc.fit(X_train)

StandardScaler()

In [29]:
X_train_sc= sc.transform(X_train)

In [76]:
X_test_sc=sc.transform(X_test)

In [78]:
df_sc=pd.DataFrame(X_train_sc,columns=df.feature_names)

In [79]:
df_sc.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.476602,-0.456764,-1.782324,-1.339234,-13.398957,-9.908441,-2.509277,-1.092993,-1.188864,-2.431629,-9.053861,-3.702762,-1.844150
1,-0.313839,-0.494084,-1.524704,-1.339234,0.478129,-14.569923,-2.439622,-2.262906,-0.937341,-2.417331,-8.310992,-3.731806,-1.846563
2,-0.458136,-0.494084,-1.730635,-1.339234,-6.243585,-9.613213,-2.443599,-1.766805,-1.188864,-2.429466,-8.136200,-3.718953,-1.705654
3,-0.476993,-0.494084,-1.633665,-1.339234,-13.543510,-9.311327,-2.499015,-1.490147,-1.176288,-2.426390,-8.638728,-3.703769,-1.866463
4,-0.475992,-0.494084,-1.815198,-1.339234,-8.267326,-10.776364,-2.454374,-2.023479,-1.176288,-2.429838,-9.097559,-3.702614,-1.819225

## Normalization (Min-Max scaling) 
Normalization is a scaling technique in which values are shifted and rescaled so that they end up ranging between 0 and 1. It is also known as Min-Max scaling.

In [34]:
from sklearn.preprocessing import MinMaxScaler

In [35]:
min_max=MinMaxScaler()

In [43]:
X_train_minmx=min_max.fit_transform(X_train)

In [84]:
X_test_minmx=min_max.transform(X_test)

In [85]:
X_train_minmx

array([[9.26268530e-04, 2.10000000e-01, 1.89882698e-01, ...,
        4.46808511e-01, 9.96621110e-01, 3.19833564e-01],
       [1.51915232e-01, 0.00000000e+00, 6.46627566e-01, ...,
        8.08510638e-01, 3.30576428e-01, 3.16504854e-01],
       [1.80566727e-02, 0.00000000e+00, 2.81524927e-01, ...,
        8.93617021e-01, 6.25321499e-01, 5.10957004e-01],
       ...,
       [2.66635180e-02, 0.00000000e+00, 6.46627566e-01, ...,
        8.08510638e-01, 9.34010792e-01, 3.16782247e-01],
       [1.82870877e-03, 0.00000000e+00, 9.23387097e-01, ...,
        6.91489362e-01, 9.70043875e-01, 3.57558946e-01],
       [8.48938989e-03, 2.00000000e-01, 1.28665689e-01, ...,
        4.25531915e-02, 9.88652983e-01, 2.36615811e-01]])

In [86]:
df_minmax=pd.DataFrame(X_train_minmx,columns= df.feature_names)

In [87]:
df_minmax.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.000926,0.21,0.189883,0.0,0.111111,0.460241,0.440783,0.516648,0.130435,0.106870,0.446809,0.996621,0.319834
1,0.151915,0.00,0.646628,0.0,0.506173,0.057865,1.000000,0.033996,1.000000,0.914122,0.808511,0.330576,0.316505
2,0.018057,0.00,0.281525,0.0,0.314815,0.485725,0.968074,0.238664,0.130435,0.229008,0.893617,0.625321,0.510957
3,0.000564,0.00,0.453446,0.0,0.106996,0.511784,0.523172,0.352800,0.173913,0.402672,0.648936,0.973524,0.289043
4,0.001493,0.00,0.131598,0.0,0.257202,0.385323,0.881565,0.132772,0.173913,0.208015,0.425532,1.000000,0.354230